<h1>Seleccione una operacion</h1>
<div class="py-5">
  <div class="container">
    <div class="row hidden-md-up">
      <div class="col-md-6">

          <div class="card">
            <div class="card-block">
              <h4 class="card-title"><a href="newtag">Solicitar un nuevo Tag</a></h4>
              <h6 class="card-subtitle text-muted">
                Seleccione esta opción para solicitar y recargar un nuevo tag
                para un nuevo vehiculo
              </h6>
              <img src="assets/img/start/new_tag.png" alt="" />
              <p class="card-text p-y-1">La recarga mínima es de $500.</p>
            </div>
          </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">Recargar cuenta</h4>
            <h6 class="card-subtitle text-muted">
              Seleccione esta opción para recargar su cuenta para usar con sus
              tags
            </h6>
            <img
              src="assets/img/start/recharge_tag.png"
              style="width: 135px; height: 116px"
              alt=""
            />

            <p class="card-text p-y-1">La recarga mínima es de $500</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
