/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body {
  background-image: url('assets/img/home/logo-back.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.fullpage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;



}
.step-instructions {
  font-size: 45px;
  margin: 20px 0px 20px;
  color: #666666;
  padding: 20px;
}
